{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    body{
        color: #08526d;
      }
    h1{
        margin-top: 20px;
        margin-bottom: 25px;
    }

    button{
        margin-right: 50px;
    }

    .form-control{
        margin-top: 10px;
        width: 550px;
    
    }


    @media screen and (max-width: 500px){

       
          .loginForm {
            background: #ffffff;
            padding: 10px 20px;
            margin-bottom: 30px;
            margin-top: 30px;
            border: none;
            border-width : 0;
  
         }
      
         .form-control{
            margin-top: 10px;
            width: 200px;
            
        }
    }
</style>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand ml-4" href="{% url 'mainH' %}"><span>Tax</span> <span>Office</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
             
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mainH' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us<span class="sr-only">(current)</span></a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dash' user.id %}">Dashboard<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
              </li>
              {% endif %}

        </ul>
      </div>
    </nav>

 
    <!--end navbar-->
        
  
   
    <br><br>

    <div class="content-section loginForm">
        <form method="POST" class="text-center">
        {% csrf_token %}
          <h1 class="mb-4 text-center mt-4">Contact Us</h1>
          <div class="row">
            <div class="col-sm-1 col-lg-3"></div>
            <div class="col-sm-4 col-lg-8">
                <input class="form-control" id="roll" type="text" placeholder="Your Name" name="name"><br>
                <input class="form-control" id="roll1" type="email" placeholder="Your Email" name="email"><br>
                <input class="form-control" id="roll2" type="text" placeholder="Your Subject" name="subject"><br>
                <textarea class="form-control" id="roll3" type="text" placeholder="Your description" name="describe"></textarea><br>
            </div>
          </div>
        <div class="form-group text-center col-sm-4 col-lg-12">
          <button type="submit" class="btn btn-outline-info" onClick="return empty()">Send</button>
        </div>
        </form>
        </div>




    <br><br>
  <div>
    <h3 class="text-center mt-4"><u>Our Locations</u></h3>
    <div class="ml-4 mt-4 mb-4 text-center map">
      <iframe class="col-sm-5 col-lg-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.5185200497217!2d-75.17106668432278!3d39.92978987942481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c6102a741921%3A0x751a30da94c20f3e!2sAmara%20%26%20Associates!5e0!3m2!1sen!2sus!4v1674570728408!5m2!1sen!2sus" width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>


</div>
<!--footer-->
<footer class="footer text-center">
    <p>Powered by <a href="https://www.linkedin.com/in/yousef-mankoulah-967a9913b/" target="_blank" >Yousef Mankoulah</a></p>
</footer>


  <!--footer-->


  <script>

// prevent reload page
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}


//prevent submitting empty form
function empty() {
    var x;
    var y;
    var z;
    var zz;
    x = document.getElementById("roll").value;
    y = document.getElementById("roll2").value;
    z = document.getElementById("roll3").value;
    zz = document.getElementById("roll1").value;
    if (x == "" || y == "" || z == "" || zz == "") {
        alert("Enter a Valid Value");
        return false;
    };
}

</script>
    {% endblock %}