{% extends "Navbar.html" %}
{% load static %}


 
{% block Navcontent %}

<style>
  table{
      margin-top: 30px;
      margin-bottom: 70px;
      border: 1px solid #D6EEEE;
      border-collapse: collapse;
      width: 100%;
    }
  th, td {
      height:50px;
      padding-left: 10px;
      font-size: 18px;
    }
  tr:nth-child(even) {
      background-color: #D6EEEE;
    }
 
  @media screen and (max-width: 850px){
      #parent{
          width: 70%;
          margin-left: 5px;
          font-size: 15px;
        }
    }

  
</style>


<div class="container">
  <h1 class="text-center">Tax Data Dashboard</h1>
<div class="table-responsive">
  <table id="parent" class="table">
      <tr>
          <th>File Name</th>
          <th>File Uploaded</th>
      </tr>

      {% for info in info %}
  <tr>

    <tr>
      
      <td>{{info.file_name}}</td>
      <td><a href='{{info.file_upload.url}}'>tax</a></td>

    </tr>
    {% endfor %}
  </tr>

  </table>

</div>
</div>

{% endblock%}
