{% extends "base.html" %}
{% load static %}


{% block content %}

<style>

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #08526d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  </style>

  
    <!--start navbar-->
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand ml-4" href=""><span>Tax</span> <span>Office</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'mainH' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dash' user.id %}">Dashboard <span class="sr-only">(current)</span></a>
                  </li>
                  
                  <li class="nav-item mainy">
                    <a class="nav-link" href="{% url 'logout' %}">logout <span class="sr-only">(current)</span></a>
                  </li>
                 
              
            </ul>
          </div>
        </nav>
  
      </div>
        <!--end navbar-->



{% block Navcontent %}
  
{% endblock%}
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <!--footer-->
    <footer class="footer text-center">
      <p>Powered by <a href="https://www.linkedin.com/in/yousef-mankoulah-967a9913b/" target="_blank" >Yousef Mankoulah</a></p>
    </footer>
    <!--footer-->

    {% endblock%}